//- FOOTER
//-=========================================================================

footer.bg-dark.text-white
	.container-fluid.pt-4.pb-3.pt-sm-3
		.row.justify-content-center
			.col-6.col-sm-4
				img.footer-logo(src="images/sportstech-footer.svg", alt="")
			.col-12.col-sm-8.small.text-center.pt-3.pt-sm-0.d-sm-flex.align-items-center.justify-content-end
				| &copy; Copyright 2014 by PSD Booster. All Rights Reserved.


|
|
// Add jQuery 
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
// Site scripts 
script(src='js/main.js')

