//- HEADER
//-=========================================================================

head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name='title' content='')
	meta(name='description' content='')
	meta(name='keywords' content='')
	meta(name='author' content='')
	link(rel='shortcut icon' href='images/favicon.ico')

	//- mobile browser color
	meta(name="theme-color" content="#ef0d1d")
	meta(name="msapplication-navbutton-color" content="#ef0d1d")

	title #{titlu}

	if (useWebfonts)
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet")

	link(href='css/style.css' rel='stylesheet')