//- Images
//-=========================================================================

h1.cheatsheet Images
.row


	.col-md-4
		p.cheatsheet Image fit cover for gallery - 15:11

		// image fit cover 
		.image-fit.format-15-11
			.photo
				img(src="images/gallery/01.jpg", alt="")


	.col-6.col-md-3
		p.cheatsheet image fit for persons - 8:7

		// image fit person 
		.image-fit.format-8-7
			.photo
				img(src="images/team/01.jpg", alt="")
