//- VARIABILE
//-=========================================================================
- var titlu = 'Cheatsheet';



//- HTML
//-=========================================================================
doctype html
html
	include _elements/_head.pug
	body

		.container-fluid

			// typography 
			include _cheatsheet/_typography.pug

			// buttons 
			include _cheatsheet/_buttons.pug

			// images 
			include _cheatsheet/_images.pug


		//- FOOTER
		include _elements/_footer.pug