- 
	var page = 
	{
		hero: 
		{
			title: 		'What is lorem ipsum?',
			content:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, non, ornare sagittis dolor. Nulla vestibulu lacus ...',
			viewMore:  true,
			videoLink: true,
			image: 		'images/banner.jpg',
			imageMd: 	'images/banner-md.jpg',
			imageSm: 	'images/banner-sm.jpg'
		},
		about: 
		{
			title: 		'We are modest.',
			content:  '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum  quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at. non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum.</p><p>Phasellus sollicitudin ante eros ornare, sit amet luctus lorem semper. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum odio convallis eget. vel sodales arcu vestibulum</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum.</p>',
			list: 
			[
				{
					title: 		'Dedication to the customers',
					content: 	'Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae ullamcorper risus. Nam porttitor'
				},
				{
					title: 		'Working closely with our clients',
					content: 	'Sed blandit nisi urna, sed pellentesque enim consectetur vitae. Suspendisse ut vehicula nibh.'
				},
				{
					title: 		'Increase happiness',
					content: 	'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend laoreet euismod.'
				}
			]
		},
		team: 
		{
			title:		'Meet the team.',
			persons: 
			[
				{
					fullName: 	'Gloria Bromley',
					function: 	'CEO and Founder',
					image: 			'images/team/01.jpg'
				},
				{
					fullName: 	'Paul Torres',
					function: 	'Head of Development',
					image: 			'images/team/02.jpg'
				},
				{
					fullName: 	'Judith Gillette',
					function: 	'Graphic Desinger',
					image: 			'images/team/03.jpg'
				},
				{
					fullName: 	'Delores Reed',
					function: 	'Client Service Director',
					image: 			'images/team/04.jpg'
				}
			]
		},
		gallery: 
		{
			title: 		'Lovely work.',
			images: [
				{
					caption: 	'Partnership guidlines',
					image: 		'images/gallery/01.jpg'
				},
				{
					caption: 	'Nunc mattis lorem',
					image: 		'images/gallery/02.jpg'
				},
				{
					caption: 	'Venenatis justo',
					image: 		'images/gallery/03.jpg'
				},
				{
					caption: 	'Maecenas a justo',
					image: 		'images/gallery/04.jpg'
				},
				{
					caption: 	'Lorem ipsum',
					image: 		'images/gallery/05.jpg'
				},
				{
					caption: 	'Nulla eleifend',
					image: 		'images/gallery/06.jpg'
				}
			],
			showMore: true
		},
		services: 
		{
			title: 		'What we do.',
			servicesList: 
			[
				{
					title: 		'Easy theme setup',
					content: 	'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.',
					image: 		'images/icons/cogs.png'
				},
				{
					title: 		'Pixel perfect design',
					content: 	'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.',
					image: 		'images/icons/pencil.png'
				},
				{
					title: 		'Responsive display',
					content: 	'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.',
					image: 		'images/icons/mobile.png'
				},
				{
					title: 		'24/7 support',
					content: 	'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.',
					image: 		'images/icons/clock.png'
				}
			]
		}
	}